@import "tailwindcss";

@plugin "../hero.ts";

@source "../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@theme {
    --font-family-sans: var(--font-sans);
    --font-family-mono: var(--font-mono);
}
@custom-variant dark (&:is(.dark *));

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    opacity: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #666;
}

* {
    --font-mono: "JetBrains Mono", Consolas, Monaco, "Fira Code", "Courier New", monospace;
}